In [2]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data = pd.read_csv('cleaned_data.csv')

In [4]:
data.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
1,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
2,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
3,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
4,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits

In [7]:
data.shape

(19662, 10)

In [8]:
duplicates = data.duplicated()
print(duplicates)

0        False
1        False
2        False
3        False
4        False
         ...
19657    False
19658    False
19659    False
19660    False
19661    False
Length: 19662, dtype: bool

In [11]:
data_no_duplicates = data.drop_duplicates()
print(data_no_duplicates)

       Clothing ID  Age                                              Title  \
0             1077   60                            Some major design flaws
1             1049   50                                   My favorite buy!
2              847   47                                   Flattering shirt
3             1080   49                            Not for the very petite
4              858   39                               Cagrcoal shimmer fun
...            ...  ...                                                ...
19657         1104   34                     Great dress for many occasions
19658          862   48                         Wish it was made of cotton
19659         1104   31                              Cute, but see through
19660         1084   28  Very cute dress, perfect for summer parties an...
19661         1104   52                    Please make more like this one!

                                             Review Text  Rating  \
0      I had such high hopes for this dress and reall...       3
1      I love, love, love this jumpsuit. it's fun, fl...       5
2      This shirt is very flattering to all due to th...       5
3      I love tracy reese dresses, but this one is no...       2
4      I aded this in my basket at hte last mintue to...       5
...                                                  ...     ...
19657  I was very happy to snag this dress at such a ...       5
19658  It reminds me of maternity clothes. soft, stre...       3
19659  This fit well, but the top was very see throug...       3
19660  I bought this dress for a wedding i have this ...       3
19661  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
0                    0                        0         General
1                    1                        0  General Petite
2                    1                        6         General
3                    0                        4         General
4                    1                        1  General Petite
...                ...                      ...             ...
19657                1                        0  General Petite
19658                1                        0  General Petite
19659                0                        1  General Petite
19660                1                        2         General
19661                1                       22  General Petite

      Department Name Class Name
0             Dresses    Dresses
1             Bottoms      Pants
2                Tops    Blouses
3             Dresses    Dresses
4                Tops      Knits
...               ...        ...
19657         Dresses    Dresses
19658            Tops      Knits
19659         Dresses    Dresses
19660         Dresses    Dresses
19661         Dresses    Dresses

[19662 rows x 10 columns]

In [24]:
# Step 1: Create a user-item matrix
user_item_ratings = data.pivot(index='Age', columns='Clothing ID', values='Rating').fillna(0)

In [25]:
# Step 2: Calculate user-user similarity using cosine similarity
user_similarity = cosine_similarity(user_item_ratings)

In [26]:
# Step 3: Define a function to get top N recommended items for a user
def get_top_recommendations_for_user(user_age, n=5):
    user_index = user_item_ratings.index.get_loc(user_age)
    similarity_scores = user_similarity[user_index]
    similar_user_indices = similarity_scores.argsort()[:-1][::-1]
    top_recommendations = user_item_ratings.iloc[similar_user_indices][:n]
    return top_recommendations

In [29]:
# Step 4: Recommend items for a user with age 30
user_age_to_recommend = 30
print(f"\nRecommendations for user with age {user_age_to_recommend}:")
recommended_items = get_top_recommendations_for_user(user_age_to_recommend, n=5)
print(recommended_items)

Recommendations for user with age 30:
Clothing ID  4     89    252   368   431   647   719   767   815   822   ...  \
Age                                                                      ...
30            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
40            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
57            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
48            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...
76            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0  ...

Clothing ID  1072  1077  1078  1080  1081  1086  1094  1104  1120  1126
Age
30            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
40            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
57            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
48            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0
76            0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 43 columns]